<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        backupGlobals="false"
        colors="true"
        stopOnFailure="true"
        cacheDirectory=".phpunit.cache"
>
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix="Test.php">src/</directory>
    </include>
  </source>
</phpunit>
